body {
    font-family: Poppins, sans-serif;
    text-align: center;
    background-color:#AC58FA;
    color: white;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: white;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 200px;
  }
  
  p{
    color: white;
    font-size: 22px;
    font-weight: 550;
  }
  
  input{
    border-radius: 5px;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    width: 140px;
    height: 30px;
    font-weight: 5000;
    text-align: center;
  }
  
  button{
    border-radius: 5px;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    width: 140px;
    height: 33px;
    background-color: #FFD064;
    font-weight: 700;
    transition-duration: 0.4s;
  }
  
  button:hover {
    color: #AC58FA;
  }